/* Base styles for the login container */
.login-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

/* Left side styling */
.login-left {
  background-color: #fff; /* Keep white background */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #3f006a; /* Changed to match the purple shade */
}

/* Right side for the image */
.login-right {
  width: 90%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column; /* Stack the left and right sections vertically */
  }

  .login-left, .login-right {
    width: 100%; /* Full width for both sections */
    height: auto; /* Auto height to fit content */
  }

  .login-right {
    background-size: contain; /* Adjust image size to fit within the container */
    background-position: top; /* Align image to the top */
  }

  .login-left {
    padding: 20px; /* Reduce padding on smaller screens */
  }
}

@media (max-width: 480px) {
  .login-left {
    font-size: 14px; /* Smaller font size for very small screens */
    padding: 10px; /* Further reduce padding */
  }

  .login-right {
    background-size: contain; /* Ensure the background image fits within the container */
    background-position: center; /* Center the image */
  }
}


/* Brand styling */
.brand {
  text-align: center;
  margin-bottom: 30px;
}

.brand img {
  margin-bottom: 10px;
}

.brand h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #32730e; /* Lighter green for heading */
}

.brand p {
  margin-top: -10px;
  font-size: 1rem;
  color: #32730e; /* Lighter green for paragraph */
}

.register-link {
  color: #32730e; ; /* Lighter green for register link */
  margin-top: 10px;
  display: inline-block;
  font-size: 0.9rem;
  text-decoration: underline;
}

/* Login form styling */
.login-form {
  width: 100%;
  max-width: 300px;
}

.login-form .form-control {
  border-radius: 20px;
  margin-bottom: 15px;
  border-color: #a5d6a7; /* Green border for input fields */
}

.login-btn {
  width: 100%;
  color: #32730e;  /* Darker green button */
  border-radius: 20px;
  margin-bottom: 20px;
}

.social-login-btn {
  width: 100%;
  background-color: #e2d0f2; /* Keep the social login button color */
  color: #3f006a;
  border-radius: 20px;
}

/* Customize the input labels */
.login-form label {
  font-weight: bold;
  color: #32730e; /* Lighter green for labels */
  display: flex;
  justify-content: left;
  text-align: left;
}

/* Checkbox style */
.form-check-label {
  color: #32730e;  /* Lighter green for checkbox label */
}

@media screen {
  
}