.main-container{
    background-image: url('https://th.bing.com/th/id/OIP.2vhihnuFEIDcQLIfa56YAwHaE0?w=293&h=191&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    background-repeat: no-repeat;
    background-size: cover;

}
#login-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }

.login-form-container{
    width:50%;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.login_form_content{
    width: 100%; 
    max-width: 400px; 
    background-color: #f8f9fa;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(246, 220, 220, 0.1);
    text-align: left;
}
h2{
    text-align: center;
}