.login-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}
.login-left {
  background-color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #3f006a; 
}
.login-right {
  width: 90%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .login-container {
    flex-direction: column; 
  }
  .login-left, .login-right {
    width: 100%;
    height: auto; 
  }
  .login-right {
    background-size: contain; 
    background-position: top;
  }
  .login-left {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .login-left {
    font-size: 14px;
    padding: 10px;
  }

  .login-right {
    background-size: contain;
    background-position: center;
  }
}
.brand {
  text-align: center;
  margin-bottom: 30px;
}
.brand img {
  margin-bottom: 10px;
}
.brand h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #32730e; 
}
.brand p {
  margin-top: -10px;
  font-size: 1rem;
  color: #32730e;
}
.register-link {
  color: #32730e; 
  margin-top: 10px;
  display: inline-block;
  font-size: 0.9rem;
  text-decoration: underline;
}
.login-form {
  width: 100%;
  max-width: 300px;
}
.login-form .form-control {
  border-radius: 20px;
  margin-bottom: 15px;
  border-color: #a5d6a7;
}
.login-btn {
  width: 100%;
  color: #32730e;  
  border-radius: 20px;
  margin-bottom: 20px;
}
.social-login-btn {
  width: 100%;
  background-color: #e2d0f2;
  color: #3f006a;
  border-radius: 20px;
}
.login-form label {
  font-weight: bold;
  color: #32730e;
  display: flex;
  justify-content: left;
  text-align: left;
}
.form-check-label {
  color: #32730e;
}
